body {
  padding-top: 60px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav.navbar {
  position: fixed; 
  top: 0; 
  width: 100%;
}

a {
  color: #00b7ff;
}

/* css styling referenced here to match hyperlink style
https://stackoverflow.com/questions/1367409/how-to-make-button-look-like-a-link
*/
.employee_button {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}